<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<section class="my-5">
    <div class="container">
        <div class="mb-4">

            <h5>STATISTICS</h5>
            <strong>Average Percentage --  <span th:text="${averageMatching}"></span> %</strong><br>
            <strong>Computation time   -- <span th:text="${computationTime}"></span> Milliseconds</strong>
        </div>

        <h5>PAIRS</h5>
        <table class="table table-striped">
            <thead>
            <tr>
                <th> Index </th>
                <th> Right Node Name </th>
                <th> Left Node Name </th>
                <th> Matching Percentage </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, iter : ${list}">
                <td><span th:text="${iter.count}"> iterator </span></td>
                <td><span th:text="${item.rightNode.name}"></span></td>
                <td><span th:text="${item.leftNode.name}"></span></td>
                <td><span th:text="${item.matchingPercentage}"></span> %</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

</body>
</html>