<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot & Thymeleaf File Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<section class="my-5">
    <div class="container">
        <div class="mb-4">
            <h3>Average Percentage: <span th:text="${averageMatching}"></span></h3>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th> Mentor Name </th>
                <th> Mentee Name </th>
                <th> Matching Percentage </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${list}">
                <td><span th:text="${item.mentee.name}"> Mentor Name </span></td>
                <td><span th:text="${item.mentor.name}"> Mentee Name </span></td>
                <td><span th:text="${item.matchingPercentage}"> Matching Percentage </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

</body>
</html>